.slider{
    height: 500px;
    background-color: skyblue;
}
.carousel-item{
    text-align: center;
    padding-top: 150px;
    margin-bottom: 50px;
}
.carousel-item h1{
    border: 10px solid red;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
}
.carousel-indicators [data-bs-target]{
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: yellow;
}